<?php
/**
 * YAWIK
 *
 * @filesource
 * @license MIT
 * @copyright  2013 - 2015 Cross Solution <http://cross-solution.de>
 */

$options = [

    /*
     * Set the verbosity level of the log.
     *
     * Each higher level includes all of the lower levels.
     *
     * FALSE: disabled
     *
     * 0; EMERG (very rarely used)
     * 1: ALERT (very rarely used)
     * 2: CRIT
     * 3: ERR
     * 4: WARN
     * 5: NOTICE
     * 6: INFO
     * 7: DEBUG
     */
//    'log_level' => false,

     /*
      * Login name of the user, who is used for XING authentication.
      */
    'authorized_user' => '',

    /*
     * the preview indicates, that a job is not shown
     */
//    'api_preview' => true,

    /*
     * XING order id. (968180 is for the sandbox)
     * order_id: 968182 Professional Ad (Design Ad Url)
     * order_id: 968181 Standard Ad (Logo Ad)
     * order_id: 968180 Standard Ad (Social Job Ad Text)
     *
     * Multiple values are allowed. The array is in the form
     * key => orderId.
     *
     * the key labeled "DEFAULT" will be the default value obvisually.
     */
//    'order_ids' => [
            'DEFAULT' => 968180,
     ],

     /*
      * Name of the key in the channels data array for the value
      * of the order id key.
      */
//      'order_id_key' => 'xingOrderId',

    /*
     * XING organization id
     *
     * Multiple values are allowed. The array is in the form
     * key => organizationId
     *
     * the key labeled "DEFAULT" will be the default value.
     */
//    'organization_ids' => [],

    /*
     * Name of the key in the channels data array for the value
     * of  the organization id key.
     */
//      'organization_id_key' => 'xingOrganizationId';
];


/*
 * Do not change below this line
 */
return [ 'options' => [ 'YawikXingVendorApi/ModuleOptions' => [ 'options' => $options ] ] ];